{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Passwords</h1>


{% for note in user.notes %}
<div class="note-container">
    <div class="container-buttons">
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <button type="button" class="close" onclick="openModal({{ note.id }})">
            <span aria-hidden="true">&#128393;</span>
        </button>

    </div>

    <br>
    <div class="form-group" id="notes">
        <li class="list-group-item">
        <h5 align="center">{{ note.name }}</h5></li>
        <li class="list-group-item" id=2{{ note.id }}>Username: {{note.username}}</li>
        <li class="list-group-item" id="pass" type="password">
            <input type="password" value={{ note.password }} id={{ note.id }}1>
            <input type="checkbox" onclick="showPasswd({{ note.id }}1)">Show Password
            <button type="button" class="btn btn-outline-dark btn-sm" onclick="copyPasswd({{ note.id }}1)">copy</button>
        </li>

        <br>
    </div>
        </div>


<div class="modal fade" id="myModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center">{{ note.name }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <li class="list-group-item"><input type="text" name="username" id="username_to_update_{{ note.id }}">
                </li>
                <li class="list-group-item" type="password">
                    <input type="password" name="password" id="password_to_update_{{ note.id }}">
                    <input type="checkbox" onclick="showPasswd('password_to_update_{{ note.id }}')">Show Password
                </li>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="save-changes-btn" onclick="updateNote({{ note.id }})">
                    Save changes
                </button>

            </div>
        </div>
    </div>
</div>

{% endfor %}


<form method="POST" autocomplete="off">
    <div><input name="name" id="name" class="form-control" placeholder="name"><br></div>
    <div><input name="username" id="username" class="form-control" placeholder="login"><br></div>
    <div><input type="password" class="form-control" id="password" name="password" placeholder="Enter password"></div>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-dark">Save Note</button>
    </div>
</form>


{% endblock %}